<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Tapy</string>
	<key>CFBundleExecutable</key>
	<string>Tapy</string>
	<key>CFBundleIconFile</key>
	<string>generated-389a999950e6cbc31e335af068824e9fda55a7c9692de97923e78689a468c87f.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Tapy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Tapy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
